<h3 class="section-title">@Messages("recommended")</h3>
<div class="widget">
    <div class="tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#one" data-toggle="tab"><i class="icon-star"></i> @Messages("recommended.popular")</a></li>
            <li><a href="#two" data-toggle="tab">@Messages("recommended.recent")</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="one">
                <ul class="popular">
                    <li>
                        <img src="images/prv/team-img-2.jpg" alt="" class="img-thumbnail pull-left">
                        <p>
                            <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                            <i>20th, June 2013</i>
                        </p>

                    </li>
                    <li>
                        <img src="images/prv/team-img-3.jpg" alt="" class="img-thumbnail pull-left">
                        <p>
                            <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                            <i>20th, June 2013</i>
                        </p>
                    </li>
                    <li>
                        <img src="images/prv/team-img-1.jpg" alt="" class="img-thumbnail pull-left">
                        <p>
                            <a href="#">Dorlorem ipsum et mea dolor sit amet, usu timeam persius ea</a>
                            <i>20th, June 2013</i>
                        </p>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="two">
                <ul class="recent">
                    <li>
                        <p><a href="#">Dorlorem ipsum et mea dolor sit amet</a></p>
                    </li>
                    <li>
                        <p><a href="#">Fierent adipisci iracundia est ei, usu timeam persius ea</a></p>
                    </li>
                    <li>
                        <p><a href="#">Usu ea justo malis, pri quando everti electram ei</a></p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>