<h3 class="section-title">@Messages("tags")</h3>
<div class="widget tags-wr">
    <ul class="tags-list">
        <li><i class="fa fa-tags"></i> <a href="#">html5</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">css3</a> </li>
        <li><i class="fa fa-tags"></i> <a href="#">jquery</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">ajax</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">php</a> </li>
        <li><i class="fa fa-tags"></i> <a href="#">responsive</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">visio</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">bootstrap</a>  </li>
        <li><i class="fa fa-tags"></i> <a href="#">template</a> </li>
        <li><i class="fa fa-tags"></i> <a href="#">mysql</a>  </li>
    </ul>
</div>